<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aviation.mapper.FlightsMapper">
    
    <resultMap type="Flights" id="FlightsResult">
        <result property="flightId"    column="flight_id"    />
        <result property="airlineCompany"    column="airline_company"    />
        <result property="departureCity"    column="departure_city"    />
        <result property="arrivalCity"    column="arrival_city"    />
        <result property="departureTime"    column="departure_time"    />
        <result property="arrivalTime"    column="arrival_time"    />
        <result property="aircraftType"    column="aircraft_type"    />
        <result property="totalSeats"    column="total_seats"    />
        <result property="status"    column="status"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectFlightsVo">
        select flight_id, airline_company, departure_city, arrival_city, departure_time, arrival_time, aircraft_type, total_seats, status, created_time, updated_time from a_flights
    </sql>

    <select id="selectFlightsList" parameterType="Flights" resultMap="FlightsResult">
        <include refid="selectFlightsVo"/>
        <where>  
            <if test="airlineCompany != null  and airlineCompany != ''"> and airline_company like concat('%', #{airlineCompany}, '%')</if>
            <if test="departureCity != null  and departureCity != ''"> and departure_city like concat('%', #{departureCity}, '%')</if>
            <if test="arrivalCity != null  and arrivalCity != ''"> and arrival_city like concat('%', #{arrivalCity}, '%')</if>
            <if test="departureTime != null "> and departure_time = #{departureTime}</if>
            <if test="arrivalTime != null "> and arrival_time = #{arrivalTime}</if>
            <if test="aircraftType != null  and aircraftType != ''"> and aircraft_type = #{aircraftType}</if>
            <if test="totalSeats != null "> and total_seats = #{totalSeats}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectFlightsByFlightId" parameterType="Long" resultMap="FlightsResult">
        <include refid="selectFlightsVo"/>
        where flight_id = #{flightId}
    </select>

    <insert id="insertFlights" parameterType="Flights">
        insert into a_flights
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flightId != null">flight_id,</if>
            <if test="airlineCompany != null">airline_company,</if>
            <if test="departureCity != null">departure_city,</if>
            <if test="arrivalCity != null">arrival_city,</if>
            <if test="departureTime != null">departure_time,</if>
            <if test="arrivalTime != null">arrival_time,</if>
            <if test="aircraftType != null">aircraft_type,</if>
            <if test="totalSeats != null">total_seats,</if>
            <if test="status != null">status,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flightId != null">#{flightId},</if>
            <if test="airlineCompany != null">#{airlineCompany},</if>
            <if test="departureCity != null">#{departureCity},</if>
            <if test="arrivalCity != null">#{arrivalCity},</if>
            <if test="departureTime != null">#{departureTime},</if>
            <if test="arrivalTime != null">#{arrivalTime},</if>
            <if test="aircraftType != null">#{aircraftType},</if>
            <if test="totalSeats != null">#{totalSeats},</if>
            <if test="status != null">#{status},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateFlights" parameterType="Flights">
        update a_flights
        <trim prefix="SET" suffixOverrides=",">
            <if test="airlineCompany != null">airline_company = #{airlineCompany},</if>
            <if test="departureCity != null">departure_city = #{departureCity},</if>
            <if test="arrivalCity != null">arrival_city = #{arrivalCity},</if>
            <if test="departureTime != null">departure_time = #{departureTime},</if>
            <if test="arrivalTime != null">arrival_time = #{arrivalTime},</if>
            <if test="aircraftType != null">aircraft_type = #{aircraftType},</if>
            <if test="totalSeats != null">total_seats = #{totalSeats},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where flight_id = #{flightId}
    </update>

    <delete id="deleteFlightsByFlightId" parameterType="Long">
        delete from a_flights where flight_id = #{flightId}
    </delete>

    <delete id="deleteFlightsByFlightIds" parameterType="String">
        delete from a_flights where flight_id in 
        <foreach item="flightId" collection="array" open="(" separator="," close=")">
            #{flightId}
        </foreach>
    </delete>
</mapper>